@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}
strong {
  font-weight: normal;
}
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.navbar {
  display: flex;
  background-color: rgb(39, 36, 36);
  align-items: center;
  justify-content: space-between;
}
.navbar_spacing {
  height: 3rem;
  width: 1px;
  background-color: rgb(100, 100, 100);
  margin-right: 1rem;
}
.navbar_logo_h1_include {
  filter: invert(1);
  height: 2.5rem;
  margin-right: 1px;
}
.navbar_logo_h1 {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  margin-left: 1rem;
  color: white;
  font-family: Audiowide, Arial, sans-serif;
}
.navbar_link {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar_link:hover {
  font-weight: bold;
}
.navbar_link:visited {
  color: white;
  text-decoration: none;
}
.navbar_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.underline {
  text-decoration: underline;
}
.white {
  color: white;
}
.camera-item {
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  border: rgba(0, 0, 0, 0.1) solid 1px;
  margin: 1rem;
  padding: 1rem;
  min-width: 32px;
  transition: 0.5s;
}
.camera-item:hover {
  border: rgba(0, 0, 0, 0.4) solid 1px;
  transition: 0.5s;
}
.camera-link,
.camera-link:visited {
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.camera-name {
  text-decoration: underline;
}
.camera-price {
  font-weight: 400;
}
.camera-img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 50%;
  object-fit: contain;
  object-position: center;
}
.presentation {
  display: flex;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}
.articles_h3 {
  margin-left: 1rem;
  text-decoration: underline;
}
.results {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#product_description {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3rem;
  margin: 2rem;
  border-radius: 1rem;
}
.product_img_container {
  width: 75%;
  border-radius: 1rem;
  border: 2px solid black;
}
#add_to_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  background-color: #171515;
  font-size: 1rem;
  color: white;
  height: 4rem;
  transition: 0.3s;
  cursor: pointer;
}
#add_to_cart:focus {
  outline: none;
}
#add_to_cart:hover {
  transition: 0.3s;
  transform: scale(1.01);
  background-color: #272626;
}
.add_confirm {
  opacity: 0;
  text-align: center;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(39, 36, 36);
  text-shadow: 2px 3px 2px rgb(75, 160, 108);
  background-color: rgb(90, 192, 129, 0.9);
  border-radius: 2rem;
  border: solid 3px rgb(75, 160, 108, 0.9);
}
.cart {
  margin: 2rem;
}
.tftable-mobile {
  display: none;
}
#tftable_quantity {
  padding: 1rem;
}
.tftable {
  font-size: 12px;
  color: #fbfbfb;
  width: 100%;
  border-width: 1px;
  border-color: #686767;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1rem;
}
.tftable-img {
  border-radius: 1rem;
  width: 150px;
  height: auto;
  border: rgb(114, 114, 114) 3px ridge;
}
.tftable th {
  font-size: 12px;
  background-color: #171515;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #686767;
  text-align: center;
}
.tftable tr {
  background-color: #2f2f2f;
}
.tftable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #686767;
}
.tftable tr:hover {
  background-color: #171515;
}
.fa-times-circle {
  transition: 0.3s;
  cursor: pointer;
}
.fa-times-circle:hover {
  color: rgb(200, 0, 0);
  transition: 0.3s;
}
.fa-minus-square {
  transition: 0.3s;
  cursor: pointer;
}
.fa-minus-square:hover {
  color: rgb(200, 0, 0);
  transition: 0.3s;
}
.fa-minus-square:active {
  color: white;
}
.fa-plus-square {
  transition: 0.3s;
  cursor: pointer;
}
.fa-plus-square:hover {
  color: green;
  transition: 0.3s;
}
.fa-plus-square:active {
  color: white;
}
.cart_price_total {
  display: none;
  color: white;
  background-color: #2f2f2f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.cart_empty {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3rem;
  border-radius: 1rem;
}
.cart_empty img {
  max-width: 250px;
  width: 100%;
}
.cart_price_total:hover {
  background-color: #171515;
}
.cart_price_total h2 {
  margin-bottom: 0;
  text-decoration: underline;
}
.cart_price_total p {
  font-size: 1.2rem;
}
.cart_form_container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3rem;
  border-radius: 1rem;
}
.cart_form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-width: 325px;
}
.cart_form div {
  display: flex;
  flex-direction: column;
}
.cart_form input {
  border-radius: 1rem;
  border: #2f2f2f 2px ridge;
  height: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cart_form label {
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}
.cart_form input:hover {
  background-color: rgba(128, 128, 128, 0.1);
  transition: 0.3s;
}
.cart_form input:focus {
  background-color: rgba(128, 128, 128, 0.1);
  transition: 0.3s;
  outline: none;
}
.cart_form_btn_order {
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  background-color: #171515;
  font-size: 1rem;
  color: white;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
}
.cart_form_btn_order:hover {
  transition: 0.3s;
  transform: scale(1.1);
  background-color: #272626;
}
.cart-span {
  position: relative;
}
.cart_bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1rem;
  width: 1rem;
  background-color: rgb(90, 192, 129);
  box-shadow: 0 0 10px 3px rgb(90, 192, 129, 0.5);
  top: -1.5rem;
  right: 0.5rem;
  padding: 5px;
  border-radius: 100%;
  font-size: 0.8rem;
  position: absolute;
}
.contact_form_container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3rem;
  margin: 2rem;
  border-radius: 1rem;
}
.order_completed {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.order_completed_img img {
  display: flex;
  justify-content: center;
  max-width: 250px;
  width: 100%;
}
.order_completed_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #171515;
  font-size: 1rem;
  color: white;
  height: 2rem;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.order_completed_btn:hover {
  transition: 0.3s;
  transform: scale(1.05);
  background-color: #272626;
}
.footer {
  display: flex;
  background-color: rgb(39, 36, 36);
  padding: 1rem;
}
.footer_link {
  height: 2rem;
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer_link:hover {
  font-weight: bold;
}
.footer_link:visited {
  color: white;
  text-decoration: none;
}
.footer_about {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.footer_h2 {
  color: white;
  padding-left: 1rem;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }
  .navbar_links {
    margin-bottom: 1rem;
  }
  #product_description {
    flex-direction: column;
  }
  .product_img {
    display: flex;
    justify-content: center;
  }
  .product_img_container {
    width: 100%;
  }
  .cart_price_total {
    display: flex;
  }
  .cart_form_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3rem;
    border-radius: 1rem;
  }
  /* TABLEAU */
  .tftable thead {
    display: none;
  }
  .tftable tfoot {
    display: none;
  }
  .tftable tr {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  .tftable td {
    display: block;
    text-align: right;
    text-align: center;
  }
  .tftable td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .tftable-mobile {
    display: block;
    text-decoration: underline;
  }
  /* FIN TABLEAU */
  .footer {
    flex-direction: column;
    display: flex;
  }
  #results {
    grid-template-columns: 1fr;
  }
  footer a {
    height: 4rem;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
